#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.seat-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-button.selected {
  background-color: #2196f3;
  color: white;
  box-shadow: 0 4px 10px rgba(33, 150, 243, 0.4);
}

.seat-button.booked {
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}

.seat-button:hover {
  transform: scale(1.1);
  background-color: #45a049;
}

.seat-button:active {
  transform: scale(0.98);
  background-color: #388e3c;
}

.seatgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  background-color: #f4f4f9;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
}

.booking-summary {
  padding: 30px;
  border-radius: 14px;
  margin-top: 40px;
  transform: scale(1.2);
}

.booking-summary h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;  
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.booking-summary button {
  background-color: #2196f3;
  color: white;
  border: none;
  margin-right: 10px;
}

.booking-summary button:hover {
  background-color: #1976d2;
}

.clear-btn {
  background-color: #f44336;
  color: white;
  border: none;
}

.clear-btn:hover {
  background-color: #d32f2f;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .seatgrid {
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    background-color: rgb(238, 227, 227);
    margin-top: -70px;
    box-shadow: none;
    transform: scale(0.6);
  }

  .booking-summary {
    padding: 5px;
    margin-top: -70px;
    transform: scale(0.8);
  }

  .seat-button {
    font-size: 17px; 
  }

  button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .booking-summary h2 {
    font-size: 20px;
  }
}
